<h1>Rails Chat App</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla arcu et euismod dictum. Fusce et sapien viverra, maximus tellus sit amet, varius turpis. Fusce facilisis felis in risus consequat, et elementum mi faucibus. Sed sollicitudin volutpat iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur quis sem eu lacus condimentum pharetra ut ut ante. Vivamus efficitur metus nec sagittis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>

<p>
  Sed aliquam mi ac odio dignissim, et malesuada augue aliquam. Nunc condimentum neque dolor, eget placerat nibh vehicula at. Nullam eget nisl et orci semper venenatis. Nam mauris leo, bibendum sed tortor at, convallis tincidunt elit. Etiam maximus vel tortor in pellentesque. Duis volutpat ornare nunc sit amet pharetra. In hac habitasse platea dictumst. Donec nec leo eu elit gravida dictum. Nam sit amet efficitur sapien. Proin consequat est sed imperdiet ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus commodo dictum sagittis. Maecenas sed lacus et ante ultricies commodo non id sapien. Donec consectetur vehicula mi et consequat. Nulla et quam quis augue rhoncus ultricies. Phasellus gravida nulla in nisi gravida, et tempor dui interdum.
</p>

<p>
  Sed cursus viverra ante, at volutpat eros suscipit vel. Morbi tincidunt nunc in est venenatis vehicula. Aenean quis velit lacinia, molestie tortor ac, eleifend nibh. Vivamus vitae posuere lacus, at ultricies mi. Aliquam ut tellus commodo, aliquet lectus ut, rutrum massa. Nam imperdiet ligula id massa suscipit, et malesuada enim cursus. Suspendisse semper in ligula quis aliquam. Etiam sed tortor vel eros lobortis ullamcorper. Nunc placerat hendrerit sollicitudin. Nulla vel semper orci. Curabitur dictum nisi augue, in luctus orci volutpat vitae. Sed massa diam, suscipit ac pretium sit amet, volutpat nec leo. Nulla at erat hendrerit, tincidunt orci sed, elementum nisl. Sed aliquet sagittis ante nec posuere. Donec egestas cursus massa id finibus.
</p>

<p>
  Nunc elementum neque a lacus bibendum cursus. Vivamus malesuada sapien commodo, ultrices felis in, tempus nisi. Proin vel turpis ullamcorper, pretium nisi et, lacinia felis. Fusce eget purus risus. Sed neque eros, pellentesque id maximus sit amet, ultrices imperdiet turpis. Vivamus accumsan libero mauris, eu laoreet diam sagittis in. Integer sollicitudin tellus sit amet felis malesuada accumsan. Vivamus eleifend imperdiet libero, eget interdum felis volutpat vitae. In laoreet rutrum lectus nec finibus. Suspendisse vulputate euismod velit non volutpat. Suspendisse non accumsan ante. Duis quis leo est. Donec quis porttitor felis.
</p>

<p>
  Suspendisse sed urna pellentesque, malesuada tortor vel, iaculis est. Quisque nec cursus metus. Aenean finibus tellus ligula, id hendrerit turpis egestas sed. Vivamus vel posuere mauris. Curabitur eget rutrum dui, in bibendum mauris. Integer malesuada nibh vitae dignissim vestibulum. Suspendisse a nunc tortor. Curabitur eu feugiat lectus. Quisque vel mollis velit, tincidunt tempus neque.
</p>
