<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                My Chats
            </header>

            <table class="table table-striped table-advance table-hover">
             <tbody>
                <tr>
                   <th><i class="icon_profile"></i></th>
                   <th><i class="fa fa-header"></i></th>
                </tr>
                <%= render @chats %>
              </tbody>
          </table>
        </section>
    </div>
</div>
